server:
  port: 8888

spring:
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///localfilesyatem/config/democonfig
          # ´ýÐÞ¸Ä
